<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${post.title}"></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <h1>CRUD 게시판</h1>
</header>
<div class="main-content">
    <h2 th:text="${post.title}">게시글 제목</h2>
    <p><strong>작성자:</strong> <span th:text="${post.author}">작성자</span></p>
    <p><strong>편집 시간:</strong> <span th:text="${#temporals.format(post.editTime, 'yyyy-MM-dd HH:mm')}">편집시간</span></p>
    <div th:text="${post.content}">게시글 내용</div>

    <div class="post-actions">
        <a class="edit-button" th:href="@{/posts/edit/{id}(id=${post.id})}">편집</a>
        <a class="delete-button" th:href="@{/posts/delete/{id}(id=${post.id})}">삭제</a>
    </div>

</div>
<footer>
    <p>© 2023 게시판. All rights reserved.</p>
</footer>
</body>
</html>
